DB_URL=jdbc:mysql://localhost:3306/moodandmove
DB_USERNAME=your_username
DB_PASSWORD=your_password

JWT_SECRET=??

KAKAO_REST_API_KEY=your_kakao_rest_api_key

GEMINI_API_KEY= your_GEMINI_API_KEY_key
GEMINI_MODEL = your_GEMINI_MODEL

KAKAO_CLIENT_ID = your_REST_API_KEY
KAKAO_CLIENT_SECRET = user_KAKAO_CLIENT_SECRET_key

KAKAO_REDIRECT_URI=http://localhost:8080/api/auth/kakao/callback
FRONTEND_URL=http://localhost:5173
COOKIE_SECURE=false